.navbar {
    height: 95px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar h1 {
    color: black;
    font-size: 35px;
    font-family: 'Share Tech Mono', sans-serif;
}

.google-btn {
    background-color: #fff;
    color: #4285f4;
    width: 150px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px #4285f4;
    font-size: 20px;
    font-family: 'Share Tech Mono', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms;
}

.google-btn:hover {
    background-color: #357ae8;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.google-icon {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-size: 24px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.google-text {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 8px 8px 0;
}

@media (max-width: 550px) {
    .navbar {
        height: 60px;
        padding: 0 5px;
    }

    .navbar h1 {
        padding-top: 5px;
        font-size: 24px;
    }

    .google-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 140px;
        font-size: 18px;
    }

    .google-icon {
        height: 30px;
        margin-right: 0;
    }

    .google-text {
        padding: 6px 6px 6px 0;
    }
}